body{
  margin: 0px;
}

header{
    background: darkslategray;
    border-bottom: 2px solid black;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
}

ul{
    list-style: none;
    padding: 0%;
}

ul li a{
    text-decoration: none;
    color: black;
}
header li{
    display: inline-block;
    padding: 0px 10px;
}

main{
    padding: 126px 0px;
}

main section{
    height: 1000%;
    width: 100%;
}
section{
    background-image: url('imagenes/steele.jpg');
    background-repeat: no-repeat;
    background-position: center;
    margin: 2.5%;
    margin-bottom: 0%;
 }
footer{
    background-color: darkslategray;
    position: fixed;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

h1{
    font-family:'Baloo Tammudu 2', cursive;
    margin-top: 0%;
    margin-bottom: 0%;
}

p {
    font-family:'Baloo Tammudu 2', cursive;
}

footer{
    border-top: 2px solid black;
}

footer p {
    text-align: center;
}

footer a {
    position: absolute;
    right: 10px;
    top: 0px;
    margin: 16px 0;
    color: black;
}

img,
video {
    max-width: 100%;
}